services:
  db:
    container_name: 'fashion-database'
    image: 'mysql:latest'
    environment:
      - 'MYSQL_DATABASE=${MYSQL_DATABASE_NAME}'
      - 'MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}'
    volumes:
      - ./mysql-data:/var/lib/mysql
      - ./fashionassistant/src/main/resources/dump.sql:/docker-entrypoint-initdb.d/dump.sql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 6s
      timeout: 5s
      retries: 3
    networks:
      - app-network

  app:
    container_name: 'fashion-app'
    build: ./fashionassistant
    environment:
      - 'SPRING_DATASOURCE_PASSWORD=${MYSQL_ROOT_PASSWORD}'
      - 'SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/${MYSQL_DATABASE_NAME}'
      - 'SPRING_JPA_HIBERNATE_DDL_AUTO=update'
      - 'JWT_KEY=${JWT_KEY}'
      - 'JWT_EXPIRATION_TIME=${JWT_EXPIRATION_TIME}'
      - 'SPRING_MAIL_EMAIL=${EMAIL}'
      - 'SPRING_MAIL_PASSWORD=${EMAIL_PASSWORD}'
      - PYTHON_ML_URL=http://python-ml:8000
    volumes:
      - ./fashionassistant/uploads:/app/uploads
    ports:
      - '8080:8080'
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "nc", "-z", "localhost", "8080" ]
      interval: 6s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  nginx:
    container_name: 'images-server'
    image: nginx:latest
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./fashionassistant/uploads:/var/www/uploads
    ports:
      - "8888:80"
    depends_on:
      app:
        condition: service_healthy
    networks:
      - app-network

  python-ml:
    container_name: 'fashion-ml'
    build: ../python-model
    ports:
      - "8000:8000"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/" ]
      interval: 6s
      timeout: 5s
      retries: 5
    networks:
      - app-network

networks:
  app-network:
